*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Marcellus';
    src: url('img/Marcellus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    background-color: black;
    color: white;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 8vw;
}

.logo{
    padding: 22px;
}


/* DIVISAO 1 */
.section-1{
    background-image: url(img/coffee-banner.jpg);
    background-position: top center;
    background-size: cover;
    height: 680px;
}
.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.image-1 img{
    width: 150px;
    margin-top: 16vw;
}

#title-1{
    margin: 25px 0px 20px 0px;
}

#text-1{
    margin: 20px 0px 60px 0px;
    line-height: 1.8em;
}

#button{
    padding: 18px 60px 18px 60px;
    border: 1px solid white;
}

/* DIVISAO 2 */
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 100px auto;
}

#title-2{
    margin-bottom: 22px;
}

#text-2{
    margin-top: 24px;
    line-height: 1.8em;
    color: rgb(78, 78, 78);
}

/* DIVISAO 3 */


.container-2, .container-3{
    display: flex;
    flex-direction: row;
}

.container-3{
    margin: 28px 0px 120px 0px;
}

.topic{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

#text-3, #text-5, #text-7, #text-9{
    margin: 12px;
    font-size: 18px;
} 

#text-4, #text-6, #text-8, #text-10{
    font-size: 14px;
    color: rgb(105, 105, 105);
    line-height: 1.8em;
} 

/* DIVISAO 4 */
.section-4{
    background-image: url(img/maquina-expresso.jpg);
    height: 100vh;
    background-position: center bottom;
    background-size: 900px 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-4 img{
    width: 50vw;
}

.media-2{
    display: none;
}


/* DIVISAO 5 */
.section-5{
    background-image: url(img/background-coffee-store2.jpg);
    padding-bottom: 60px;
}

.container-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 90px 120px 90px;
}

.image-product img{
    width: 40vw;
}

.line-1, .line-2{
    display: flex;
    flex-direction: column;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
#text-11{
    line-height: 1.8em;
}

.image-5{
    margin: 20px 0px 20px 0px;
}

/* FOOTER */
footer{
    background-image: url(img/background-footer.jpg);
    text-align: center;
    background-position: center top;
    background-size: 1100px 800px;
    height: 1000px;
}

.media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

#text-12, #text-14{
    font-size: 20px;
    color: white;
    margin: 130px 0px 50px 0px;
}

#text-13{
    font-size: 28px;
    color: white;
    margin-top: -30px;
}

#logo-2{
    padding: 80px 0px 0px 0px;
}

@media(min-width: 992px){
    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 50px 0px 50px;
    }

    .media-2{
        display: flex;
        gap: 20px;
    }

    /* DIVISAO 1 */
    .container-1{
        width: 40%;
        margin: 0px 0px 0px 15vw;
    }

    .image-1 img{
        margin: 95px 0px 0px 0px;
    }

    #title-1, #title-2, #title-3{
        font-size: 32px;
    }

    .section-3{
        display: flex;
        flex-direction: row;
    }

    .container-3{
        margin-top: 0px;
    }

    .image-4 img{
        width: 20vw;
    }

    #text-11, #text-2{
        width: 70%;
    }

    .line-1, .line-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .col{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    .image-product img{
        width: 20vw;
    }

    #imgp-1, #imgp-2, #imgp-3, #imgp-4, #imgp-5, #imgp-6, #imgp-7, #imgp-8{
        margin: 0px 16px 0px 16px;
    }

    footer{
        background-image: url(img/background-footer.jpg);
        text-align: center;
        background-position: center top;
        background-size: auto;
        height: 1000px;
    }

    #text-12, #text-14{
        font-size: 30px;
        color: white;
        margin: 160px 0px 80px 0px;
    }
    
    #text-13{
        font-size: 38px;
        color: white;
        margin-top: -30px;
    }

    .media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4vw;
    }
}